.formInput {
    box-sizing: border-box;
    border: 3px solid gray;
    border-radius: 25%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    outline: none;
    width: 64px;
    height: 64px;
    font-weight: 700;
    font-size: 48px;
}

.fulfilled {
    border: 7px solid green;
}
.error {
    border: 7px solid crimson;
}

.formInput:focus {
    box-shadow: gray 0px 0px 0px 3px;
}

@media screen and (max-width: 1024px) {
    .formInput {
        width: 48px;
        height: 48px;
    }
}

@media screen and (max-width: 768px) {
    .formInput {
        width: 32px;
        height: 32px;
    }
}
